services:
  adminer:
      image: adminer
      restart: always
      ports:
          - "127.0.0.1:8083:8080"
  postgres:
      image: postgres:18
      container_name: postgres_db
      restart: always
      environment:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: pajak_dthrth
      ports:
          - "127.0.0.1:5432:5432"
      volumes:
          - postgres_data:/var/lib/postgresql
  pgadmin:
      image: dpage/pgadmin4
      container_name: pgadmin
      restart: always
      environment:
          PGADMIN_DEFAULT_EMAIL: admin@email.com
          PGADMIN_DEFAULT_PASSWORD: admin
      ports:
          - "127.0.0.1:5050:80"
      depends_on:
          - postgres
  seaweedfs:
      image: chrislusf/seaweedfs
      container_name: seaweedfs
      restart: always
      command: server -s3 -s3.config=/etc/seaweedfs/s3.json
      ports:
          - "127.0.0.1:9333:9333"
          - "127.0.0.1:8888:8888"
          - "127.0.0.1:8333:8333"
      volumes:
          - seaweedfs_data:/data
          - ./docker/seaweedfs/s3.json:/etc/seaweedfs/s3.json:ro
volumes:
  postgres_data:
  seaweedfs_data:
